<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> -
  <span class="credit">Authored with <a href="http://www.gnu.org/s/emacs"">Emacs</a> and
  <a href="http://orgmode.org">Org Mode</a></span> -
  <span class="credit">Hosted by <a href="http://github.com">Github</a></span>
  <script>
    var options={ "publisher": "4eafa479-c64d-49ab-9e91-90cb169b33c2", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "googleplus", "sharethis", "linkedin", "email"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
  </script>
</p>
